PORT=5001
MONGO_URI=mongodb://localhost:27017/your database
JWT_SECRET=replace_me
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@almalink.local
ADMIN_PASSWORD=ChangeMe123!
ADMIN_ALLOWED_EMAIL_DOMAINS=official.gce.edu
ADMIN_ALLOWED_EMAILS=
GOOGLE_CLIENT_ID=your google client id
GOOGLE_CLIENT_SECRET=Your google client secret

TENANT_ID=your microsoft tenant id
CLIENT_ID=your microsoft app client id
CLIENT_SECRET=your microsoft app client secret
MAILBOX=support@example.com
TEST_EMAIL_REDIRECT_TO=
EMAIL_VERIFICATION_OTP_EXPIRY_MINUTES=10
